.language-dropdown {
  position: relative;
  display: inline-block;
  background-color: pink;
  width: 190px;
  height: 40px;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  line-height: 24px;
}